
.results
{
  text-align: center;
}

.zipcode
{
  
    background-color: gray;
    color: black;
    font-weight: bold;
    font-size: 2.5em;   
    width: 100%;
    height: 30%;
    text-align: center;
    margin-top: 0px;
}
.zip
{
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}


.city
{
  text-align: center;
}

button
{
  text-align: center;
}

form{
  text-align: center;
  padding: 1%;
}

.cityform
{
  padding: 10%;
  text-align: center;
  border: 1px;
}

input[type=text], select {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit 
{
    padding: 10px;
    background:#ccc; 
    cursor:pointer;
    border-radius: 5px; 
}